{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<h4>Calendar Event Creation</h4>
    <div class="container mt-4">
    <form action="{{ url }}" method="post">
        {% csrf_token %}
            <div id="form">
                {{ form.media }}
                {{ form | crispy }}
            </div>
        <button class="form-control btn btn-primary" type="submit">Search</button>
    </form>
    </div>

{% endblock content %}


{% block extra_js %}
    
{% endblock extra_js %}
    