<div class="d-flex justify-content-between align-items-center mt-3">
    <span><i class="bi bi-info-circle text-primary mt-2 pe-1"></i>
    {{ objects.paginator.count }}
    {% if  objects.paginator.count == 0 %}
        trouvé
    {% else %}
        trouvé{{ objects.paginator.count|pluralize }}
    {% endif %}
    </span>
    {% if objects.paginator.num_pages > 1 %}
        <nav aria-label="...">
            <ul class="pagination mb-0">
                {% if objects.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ objects.previous_page_number }}&{{ request.GET.urlencode }}"
                        class="page-link"
                        aria-label="Previous">&laquo;</a>
                    </li>
                {% endif %}
                {% for num in objects.adjusted_elided_pages %}
                    {% if num == objects.paginator.ELLIPSIS %}
                        <li class="page-item">
                            <a href="#" class="page-link">{{ num }}</a>
                        </li>
                    {% else %}
                        {% if objects.number == num %}
                            <li class="page-item active">
                                <a class="page-link">{{ objects.number }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ num }}&{{ request.GET.urlencode }}" class="page-link">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if objects.has_next %}
                    <li class="page-item">
                        <a href="?page={{ objects.next_page_number }}&{{ request.GET.urlencode }}"
                        class="page-link"
                        aria-label="Next">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    </div>
    