
{% load crispy_forms_tags %}


{% block recurrence %}
  {{ form | crispy }}
  <link rel="stylesheet" href="/static/admin/css/base.css">
    
    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
    <script src="/static/admin/js/theme.js" defer=""></script>
  
  
    <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer=""></script>
  
    <link rel="stylesheet" href="/static/admin/css/forms.css">
  
  
  <script src="/admin/jsi18n/"></script><script ecommerce-type="extend-native-history-api">(()=>{const e=history.pushState,t=history.replaceState,a=history.back,r=history.forward;function n(){window.postMessage({_custom_type_:"CUSTOM_ON_URL_CHANGED"})}history.pushState=function(){e.apply(history,arguments),n()},history.replaceState=function(){t.apply(history,arguments),n()},history.back=function(){a.apply(history,arguments),n()},history.forward=function(){r.apply(history,arguments),n()}})()</script>
  <link href="/static/recurrence/css/recurrence.css" media="all" rel="stylesheet">
  <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script src="/static/admin/js/jquery.init.js"></script>
  <script src="/static/admin/js/core.js"></script>
  <script src="/static/recurrence/js/recurrence.js"></script>
  <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script src="/static/recurrence/js/recurrence-widget.js"></script>
  <script src="/static/admin/js/actions.js"></script>
  <script src="/static/recurrence/js/recurrence-widget.init.js"></script>
  <script src="/static/admin/js/urlify.js"></script>
  <script src="/static/admin/js/prepopulate.js"></script>
  <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
  
  
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
      
  
  <meta name="robots" content="NONE,NOARCHIVE">
{% endblock recurrence %}